body{
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 0 10px black;
}

.list-container{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 1em;
}

.list-container li{
	margin: 0 1em;
}

.list-container li:hover{
	cursor: pointer;
	opacity: 0.9;
}

.header-container{
	background-color: blue;
	min-height: 300px;
	height: 500px;
	background-image: url("../upm.jpg");
	background-repeat: no-repeat;
    	background-size: cover;
	background-position: center;
}

.institution-name{
	margin: 160px 0 0 0;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	display: inline-block;
	font-size: 1.5em;
}

.institution-description{
	padding: 5em 2em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.description{
	max-width: 500px;
}

.institution-videos{
	text-align: center;
	background-color: #6d0202;
	padding: 1em 0 4em 0;
}

.instituion-video{
	width: 70%;
	height: 350px;
	max-width: 700px;
}

.stories{
	font-size: 2em;
	color: white;
}

.institution-video{
	display: inline-block;
}


.lnks{
	display: flex;
	justify-content: center;
}

.lnk{
	text-align: center;
	margin: 0 5%;
	text-decoration: none;
   	color: black;
}

.lnk:hover{
	cursor: pointer;
	opacity: 0.8;
}

.advice{
	text-align: center;
}

.advice-image{
	width: 50px;
	display: inline-block;
}

.interesting-links{
	text-align: center;
    	font-size: 1.3em;
	padding: 0;
	margin: 0 0 1em 0;
}

/* for the main page*/
#world-map{
	height: 620px;
}


.header-index{
	background-image: url('../collage.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-index-container{
	display: flex;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.68);
	height: 75vh;
	align-items: center;
}

.header-title-container{
	flex-basis: 30%;
	text-align: center;
}

.header-politecnico-logo{
	width: 100%;
	display: inline-block;
}

.p-instituto{
	font-size: 2em;
	margin: 0;
	text-align: center;
	color: #3e3e3e;
}

.header-internacional{
	flex-basis: 40%;
	text-align: center;
}

.header-internacional-texto{
	font-size: 3em;
	color: #3e3e3e;
}

.world-container{
	background-color: whitesmoke;
	position: relative;
	z-index: 1;
}

.scroller{
	/*transform: translateZ(-1px) scale(2);*/
  z-index: -1;
	height: 75vh;
	position: relative;
}

/* jvectormap */
.jvectormap-legend-inner {
  margin-bottom: 3px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick {
  width: auto;
  margin-right: 10px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 13px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-sample {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}
